%ul
  %li
    %a{:href => "https://github.com/RyanParsley"} Fork it
  %li
    %a{:href => "https://github.com/RyanParsley"} Download
  %li
    %a{:class => "#{active?('about')}", :href => "/about"} About this project
