%ul.features
  %li
    %h1 Textured button
    %a{:href => '#', :class => 'button'} Make it so
  %li
    %h1 Bright button
    %a{:href => '#', :class => 'bright'} Make it so
  %li
    %h1 Glossy button
    %a{:href => '#', :class => 'smooth'} Make it so
  %li
    %h1 Subtle button
    %a{:href => '#', :class => 'subtle'} Make it so
  %li
    %h1 Big glossy button
    %a{:href => '#', :class => 'pill'} Make it so

