%footer
  .container
    .first
      %h1 Elsewhere&hellip;
      = partial "layouts/partials/social_nav"
      
    .second
      %h1 Use my code
      = partial "layouts/partials/code_nav"
      
    .third
      %h1 Keep in touch
      %p If you find this useful, please let me know. I'd love to hear how this project helps. At some point, I'd like to set up a gallery of people use the code.
